@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: none;
}

html, body {
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
